<div style="background-color: #aedfa2;height: 50px;padding-top: 18px;">

    <a [routerLink]="['/dashboard']" *ngIf="logged_in_user" style="margin-left: 10px;">Dashboard  </a>
    <a [routerLink]="['/login']" *ngIf="!logged_in_user" style="margin-left: 10px;">Login  </a>
    <a [routerLink]="['/register']" *ngIf="!logged_in_user" style="margin-left: 10px;">Register </a>
    <a [routerLink]="['/employee']" *ngIf="logged_in_user" style="margin-left: 10px;">Employees </a>
    <a [routerLink]="['/add-employee']" *ngIf="logged_in_user" style="margin-left: 10px;">Add Employee </a>
    <a [routerLink]="['/update-employee']" *ngIf="logged_in_user" style="margin-left: 10px;">Update Employee </a>
    <a [routerLink]="['/parent']" *ngIf="logged_in_user" style="margin-left: 10px;">Parent </a>
    <a [routerLink]="['/pipes']" *ngIf="logged_in_user" style="margin-left: 10px;">Pipes </a>
    <a  (click)="logout()"  href="" *ngIf="logged_in_user" style="margin-left: 780px;">Logout</a>
</div>