<p>pipes works!</p>
<!-- Transforming Data from one from to another form-->
<h5>Upper Case Pipe</h5>
<div>
    {{title | uppercase}}
</div>

<h5>Lower Case Pipe</h5>
<div>
    {{title | lowercase}}
</div>

<h5>Currency Pipe</h5>
<div>
    {{11.5 | currency:"USD"}}
</div>
<div>
    {{11.5 | currency:"INR"}}
</div>


<h5>Date Pipe</h5>
<div>
    <span>Date:</span>{{today_date | date:'d/M/y'}}
</div>

<div>    
    <span>Date with month and day:</span>{{today_date | date:'M/d/y'}}
</div>

<div>
    <span>Short Time:</span>{{today_date | date:'shortTime'}}
</div>

<div>
    <span>Slicing the Title:</span>{{title | slice:6}}
</div>
<div>
    <span>Today Date:</span>{{today_date}}
</div>
<div>
    {{today_date | date:'longTime'}}
</div>
