
<div *ngIf="!showUpdate">
    <div>
        <h1>Employee Table</h1>
    </div>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
            <tr *ngFor="let emp of employees">
                <td>{{emp.id}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.phone}}</td>
                <td><button (click)="deleteEmployee(emp.id)" style="color:red;" >X</button></td>
                <td><button (click)="updateEmployee(emp)" style="color:red;" ><b>+</b></button></td>
            </tr>
        </table>
</div>

<div *ngIf="showUpdate">
    <app-update-employee [currentEmp]="currentEmp" (closewindow)="updateValue($event)" ></app-update-employee>
</div>