<div class="heading">
    <h1 >Login Form</h1>
</div>
<div class="container">
    <form (ngSubmit)="submit()" >
        <div class="login">
            <div>
                <label for="email" ><b>Email</b></label><br/>
                <input type="text" name="email" [(ngModel)]="userName" placeholder="Enter your Email" />
       </div>
            <label for="psw"><b>Password</b></label><br/>
            <input type="password" name="password" [(ngModel)]="password" placeholder="Enter Password" /> <br/>
 
        </div>
        <button type="submit">Login</button>
       
    </form>
</div>
