<div class="heading">
    <h1 >Login Form</h1>
</div>
<div class="container">
    <form (ngSubmit)="submit()">
        <div class="login">
            <label for="uname"><b>Username</b></label><br/>
            <input type="text" name="username" placeholder="Enter Username" [(ngModel)]="login_data.username"/><br/>
            <label for="psw"><b>Password</b></label><br/>
            <input type="password" name="password" placeholder="Enter Password" [(ngModel)]="login_data.password" /> <br/>
        </div>
        <button type="submit">Login</button>
    </form>
</div>