<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="m-t-20">
        <label>ID</label>
        <input type="text" formControlName="id" >
    
    </div>
    <div class="m-t-20">
        <label>Name</label>
        <input type="text" formControlName="name">
    
    </div>
    <div class="m-t-20">
        <label>Email</label>
        <input type="text"  formControlName="email">
    
    </div>
    <div class="m-t-20">
        <label>Phone No</label>
        <input type="number"  formControlName="phone">
    
    </div>

    <button  class="m-t-20" type="submit" [disabled]="!form.valid" >Submit</button>
</form>